In [15]:
import pandas as pd
from pathlib import Path
import os

output_dir=Path("/scratch/rdkiesersi1/TestDiarrhea/output/gather")

In [19]:
combined = dict()

for sample_path in output_dir.glob("*.csv"):

    sample_file = os.path.basename(sample_path)
    sample = os.path.splitext(sample_file)[0]

    df = pd.read_csv(sample_path)

    #df = df.loc[df.potential_false_negative == False] # not available in my version
    df = df.loc[df.intersect_bp >= 25000]
    #df = df.loc[df['f_match'] > 0.01] # I experiment with there, but at the end keep it commeted out

    combined[sample]=df.set_index("name").f_unique_weighted


D = pd.concat(combined,axis=1)

In [24]:
(D>0).sum()

SRS1992962    246
SRS1992964    206
SRS1992958    103
SRS1992960    186
SRS1992966    158
dtype: int64

In [13]:
sample_path = output_dir/"SRS1992958.csv"




df = pd.read_csv(sample_path)
#df = df.loc[df.potential_false_negative == False]
df = df.loc[df.intersect_bp >= 25000]
#df = df.loc[df['f_match'] > 0.01] # I experiment with there, but at the end keep it commeted out
df[sample] = df['f_unique_weighted'] / df['f_unique_weighted'].sum()
df = df[['name',sample]].set_index('name')
#df.index = df.index.map(subsp_def.subspecies.to_dict())
df = df.T.groupby(axis=1,level=0).sum().T

In [14]:
df

            SRS1992958
name
107001001     0.001214
107001003     0.416504
219001001     0.012441
219001002     0.061547
342001001     0.026752
...                ...
4451001001    0.000177
4684001001    0.000039
4809001001    0.000406
4871001001    0.000494
4891001001    0.004957

[103 rows x 1 columns]

In [5]:
df.head()

,intersect_bp,f_orig_query,f_match,f_unique_to_query,f_unique_weighted,average_abund,median_abund,std_abund,name,filename,md5,f_match_orig,unique_intersect_bp,gather_result_rank,remaining_bp
0,4138000,0.023603,0.436774,0.023603,0.007881,4.251571,2.0,37.442119,3919001001,/gpfs/home/rdkiesersi1/specific_hashomes.sbt.zip,511643121304a515f0dece81d9dbfd56,0.436774,4138000,0,171176000
1,3855000,0.021989,0.895397,0.021972,0.133670,77.461838,75.0,73.940947,107001003,/gpfs/home/rdkiesersi1/specific_hashomes.sbt.zip,630bd11e36b8eba9bbb81867e929f3a8,0.896095,3852000,1,167324000
2,1688000,0.009628,0.321640,0.009623,0.001591,2.104920,2.0,4.053761,4891001001,/gpfs/home/rdkiesersi1/specific_hashomes.sbt.zip,34470fa5b1bd378241d4c3d7890b8b1c,0.321830,1687000,2,165637000
3,1066000,0.006081,0.070948,0.005892,0.002822,6.098742,2.0,36.094958,2330001001,/gpfs/home/rdkiesersi1/specific_hashomes.sbt.zip,6ebdc220ea16665acf063b0899caee5b,0.073214,1033000,3,164604000
4,998000,0.005693,0.246906,0.004780,0.003712,9.886635,1.0,217.001205,1941001003,/gpfs/home/rdkiesersi1/specific_hashomes.sbt.zip,22e4d33f0f0f623160b2eaac12e07334,0.294048,838000,4,163766000

In [6]:
df.columns

Index(['intersect_bp', 'f_orig_query', 'f_match', 'f_unique_to_query',
       'f_unique_weighted', 'average_abund', 'median_abund', 'std_abund',
       'name', 'filename', 'md5', 'f_match_orig', 'unique_intersect_bp',
       'gather_result_rank', 'remaining_bp'],
      dtype='object')

In [11]:
df

            SRS1992958
name
3919001001    0.024558
107001003     0.416504
4891001001    0.004957
2330001001    0.008794
1941001003    0.011565
...                ...
2458001003    0.000052
2075001001    0.000209
2563001001    0.000077
1820001001    0.000039
2603001002    0.000042

[103 rows x 1 columns]

AttributeError: 'DataFrame' object has no attribute 'intersect_bp'